.adress{
	font-family: $roboto-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $color-t-white;
	opacity: 0.8;
}
.mail{
	font-family: $roboto-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	a{
		text-decoration: none;
		color: $color-t-dark;
	}
}
.phone{
	font-family:  $roboto-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $color-t-white;
	.namber{
		margin-top: 10px;
	}
}
.prog{
	margin-top: 88px;
	font-family: $roboto-r;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: right;
	text-decoration-line: underline;
	margin-bottom: 60px;
	a{
		text-decoration: none;
		color: $color-t-dark;
	}
}