.margin-t-10{
	margin-top: 10px;
}
.margin-t-30{
	margin-top: 30px;
}
.margin-t-43{
	margin-top: 43px;
}
.margin-t-45{
	margin-top: 45px;
}
.margin-t-40{
	margin-top: 40px;
}
.margin-t-60{
	margin-top: 60px;
}
.margin-t-65{
	margin-top: 65px;
}
.margin-t-80{
	margin-top: 80px;
}
.margin-t-120{
	margin-top: 120px;
} 
.margin-b-80{
	margin-bottom: 80px;
} 

.line{
	border-bottom:  6px solid #C8A35F;
	width: 90px;	
}

.title{
	font-family:'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.text{
	font-family:'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}



