body{
	font-family: $roboto-r;
	background: $bg-dark;

	img{
		max-width: 100%;
	}
}
// .wraper{
// 	height: 100vh;
// }
.line-gold{
	background: $bg-gold;
	background-size: cover;
}
header{
	.lang{
		padding: 15px 0;
		a{
			font-family: $roboto-r;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			color: $color-t-white;
			opacity: 0.5;
			text-decoration: none;
			margin-right: 10px;
			display: inline-block;
			&.link.active{
				opacity: 1;
			}
		}
	}
	.phone{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: $color-t-white;
		padding: 15px 0;
	}
	.mail{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		text-align: right;
		color: $color-t-white;
		padding: 15px 0;
	}
}

.location{
	margin-top: 27px;
	margin-bottom: 27px;
	.logo{
		display: inline-block;
	}
	.dotted{
		border: 1px solid #F2F2F2;
		transform: rotate(90deg);
		width: 46px;
		display: inline-block;
   		margin-bottom: 19px;
   		margin-top: 19px;
	}
	.local{
		display: inline-block;
		vertical-align: top;
		margin-top: 11px;
		a{
		text-decoration: none;	
		}
	}
	.local-text{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		letter-spacing: 0.05em;
		color: $color-t-white;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		margin-top: 15px;
	}
}
.navigation{
	margin-top: 42px;
	text-align: right;
	a{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		text-transform: uppercase;
		color: $color-t-white;
		text-decoration: none;
		margin-left: 30px;
		display: inline-block;
	}
}
.first-screen{
	background: url(img/trucking.jpg);
	background-size: cover;
	.trucking{
		border: 1px solid $bg-gold;
		box-sizing: border-box;
		padding: 45px 71px;
		margin-top: 155px;
	}
	.title-trucking{
		font-family:  $roboto-r;
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-t-white;
	}
	.text-trucking{
		text-align: center;
	}
	.mouse{
		opacity: 0.8;
		margin-top: 140px;
		margin-bottom: 50px;
		text-align: center;
		a{
			text-decoration: none;
			display: inline-block;
		}
	}
}
.menu-icon {
  	display: none;
	font-size: 0;
	background: none;
	border: none;
	width: 30px;
	height: 25px;
	position: relative;
	vertical-align: middle;
 	cursor: pointer;
    margin-left: auto;
}
.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid $bg-gold;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.menu-icon:before,
.menu-icon:after {
	position: absolute;
	content: "";
	display: block;
	left: 0;
	right: 0;
}
.menu-icon:before {
	top: 7px;
}
.menu-icon:after {
	top: 17px;
}
.menu-icon.opened {
	border-top-color: transparent;
}
.menu-icon.opened:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 12px;
}
.menu-icon.opened:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 12px;
}
.menu-container {
  padding-top: 20px;
  width: 100%;
}
.menu-container {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;	
	}  
}
.menu-container{
 	li {
  		margin-bottom: 10px;
	}
}
.menu-container{
	a {
		display: block;
		padding: 10px 0;
		color: $color-t-white;
		background: $bg-gold;
		text-decoration: none;
		text-align: center;
		font-family: sans-serif, arial;
	}
}
.menu-container.closed {
  display: none;
}
.menu-container.opened {
  display: block;
}
