.trucking-industry{
	overflow: hidden;
}
.block-right{
	&:before{
		position: absolute;
		content: "";
		right: 23%;
		top: 0;
		height: 100%;
		display: block;
		width: 50vw;
		background: $bg-silver;
		z-index: -1;
	}
}
.batton{
	margin-top: 40px;
	margin-bottom: 130px;
	a{
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: $color-t-white;
		font-family: $roboto-r;
		text-decoration: none;
		padding: 19px 48px 19px 48px;
		background: $bg-gold;
		display: inline-block;
    	vertical-align: top;
	}
}
.block-left{
	position: relative;
	&:before{
		position: absolute;
		content: "";
		left: 45%;
		top: 0;
		height: 100%;
		display: block;
		width: 50vw;
		background: $bg-silver;
		z-index: -1;
	}
}
.car{
	margin-top: 166px;
	display: inline-block;
	vertical-align: top;
}
.arrow-block{
	display: inline-block;
	vertical-align: top;
	.arrow-next{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-t-gold;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 155px;
		right: 0;
		a{
			text-decoration: none;
			display: inline-block;
	    	vertical-align: top;
	    	margin-left: 30px;
	    	width: 65px;
	    	height: 20px;
	    }
	}
	.arrow-back{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-t-gold;
		position: absolute;
		right: 0;
		top: 400px;
		a{
			text-decoration: none;
			display: inline-block;
	    	vertical-align: top;
	    	margin-right: 25px;
	    	width: 65px;
	    	height: 20px;
	    }
	}
}

.all-services{
	align-content:flex-start;
	list-style: none;
	margin-top: 50px;
	.services-item{
		height: 180px;
		background: $bg-silver;
		border: 1px solid $bg-dark;
		.airplane{
			text-align: center;
			width: 70px;
			height: 70px;
			margin: 0 auto;
			border-radius: 50%;
			margin-top: 25px;
			display:block;
			svg{
				margin-top: 20px;
			}		 
		}
		.airplane-title{
			font-family: $roboto-r;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: $color-t-white;
			text-align: center;
		}
		&:hover{
			background: $bg-gold;
			path{
				fill:#000;
			}
			.airplane{
				background: $bg-white;
			}	
		}
	}
}
.about-company{
	overflow: hidden;
}
.block-right-company{
	&:after{
		position: absolute;
		content: "";
		left: 70%;
		top: 0;
		height: 100%;
		display: block;
		width: 20vw;
		background: #393F47;
		z-index: -1;
	}
	.text{
		font-family:$roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 23px;
		color: $color-t-white;
	}
}
.block-left-company{
	&:after{
		position: absolute;
		content: "";
		right: 50%;
		top: 0;
		height: 100%;
		display: block;
		width: 25vw;
		background: #393F47;
		z-index: -1;
	}
}
.about-us{
	align-content:flex-start;
	list-style: none;
	margin-left: 35px;
	.about-us-item{
		width: 33.3%;
		height: 160px;
		border: 0.25px solid $bg-gold;
		box-sizing: border-box;
		background: url(img/mini-car.jpg);
		background-size: cover;
		position: relative;
		&:hover .company-item-active{
				opacity: 1;
		}
		.company-item-active{
			width: 100%;
			height: 160px;
			background: $bg-white;
			opacity: 0;
			position: absolute;
			top: 0;
			text-align: center;
			.namber{
				font-family: $roboto-r;
				font-style: normal;
				font-weight: bold;
				font-size: 64px;
				text-align: center;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: $color-t-dark;
				margin-top: 23px;
			}
			.active-title{
				font-family: $roboto-r;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				text-align: center;
				letter-spacing: 0.05em;
				color: $color-t-dark;
				margin-top: 10px;
			}
			.active-text{
				font-family: $roboto-r;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 14px;
				text-align: center;
				color: $color-t-dark;
				margin-top: 15px;
			}
		}
	}
}
.map{
	overflow: hidden;
	
}

