/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
	
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
	.margin-t-30{
		margin-top: 23px;
	}
	.margin-t-43{
		margin-top: 32px;
	}
	.margin-t-45{
		margin-top: 34px;
	}
	.margin-t-40{
		margin-top: 30px;
	}
	.margin-t-60{
		margin-top: 45px;
	}
	.margin-t-65{
		margin-top: 46px;
	}
	.margin-t-80{
		margin-top: 60px;
	}
	.margin-t-120{
		margin-top: 90px;
	} 
	.margin-b-80{
		margin-bottom: 60px;
	} 
	.location .local-text{
		font-size: 12px;
	}
	.navigation {
		margin-top: 22px;
	}
	.navigation a{
		margin-bottom: 10px;
	}
	.location{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.first-screen .trucking{
		margin-top: 110px;
		padding: 35px 55px;
	}
	.first-screen .title-trucking{
		font-size: 48px;
	}
	.first-screen .text-trucking{
		font-size: 16px;
	}
	.first-screen .mouse{
		margin-top: 105px;
		margin-bottom: 38px;
	}
	.line{
		width: 68px;
	}
	.title{
		font-size: 30px;
	}
	.text{
		font-size: 14px;
		line-height: 20px;
	}
	.batton{
		margin-top: 30px;
    	margin-bottom: 100px;
	}
	.batton a{
		font-size: 12px;
		padding: 14px 36px 14px 36px;
	}
	.car{
		margin-top: 120px;
	}
	.arrow-block .arrow-next{
		font-size: 12px;
		top: 320px;
	}
	.arrow-block .arrow-next a{
		margin-left: 15px;
    	width: 45px;
    	height: 15px;
	}
	.arrow-block .arrow-back{
		font-size: 12px;
		top: 320px;
		left: 15px;
	}
	.arrow-block .arrow-back a{
		margin-right: 15px;
    	width: 45px;
    	height: 15px;
	}
	.all-services{
		margin-top: 38px;
	}
	.all-services .services-item .airplane{
		margin-top: 42px;
	}
	.all-services .services-item .airplane-title{
		font-size: 14px;
	}
	.about-us{
		margin-left: 0;
	}
	.about-us .about-us-item{
		width: 50%;
	}
	.prog{
		margin-bottom: 45px;
		margin-top: 66px;
		font-size: 12px
	}
	.adress{
		font-size: 12px;
	}
	.mail {
		font-size: 12px;
	}
	.phone{
		font-size: 12px;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.margin-t-30{
		margin-top: 15px;
	}
	.margin-t-43{
		margin-top: 20px;
	}
	.margin-t-45{
		margin-top: 22px;
	}
	.margin-t-40{
		margin-top: 20px;
	}
	.margin-t-60{
		margin-top: 30px;
	}
	.margin-t-65{
		margin-top: 32px;
	}
	.margin-t-80{
		margin-top: 40px;
	}
	.margin-t-120{
		margin-top: 60px;
	} 
	.margin-b-80{
		margin-bottom: 40px;
	} 
	.location{
		margin-top: 14px;
		margin-bottom: 14px;
	}
	.first-screen .trucking{
		margin-top: 70px;
		padding: 20px 30px;
	}
	.first-screen .title-trucking{
		font-size: 32px;
	}
	.first-screen .mouse{
		margin-top: 70px;
		margin-bottom: 25px;
	}
	.title{
		font-size: 20px;
	}
	.batton{
		margin-top: 20px;
    	margin-bottom: 45px;
	}
	.car{
		margin-top: 60px;
	}
	.arrow-block .arrow-next{
		top: 240px;
		right: 15px;
	}
	.arrow-block .arrow-back{
		top: 240px;
		left: 15px;
	}
	.all-services{
		margin-top: 25px;
	}
	.block-right-company .text{
		font-size: 14px;
	}
	.block-left-company:after{
		display: none;
	}
	.block-right-company:after{
		display: none;
	}
	.prog{
		margin-bottom: 30px;
		margin-top: 55px;
	}
	.navigation{
		display: none;
	}
	.menu-icon{
		display: block;
		margin-top: -50px;
   		margin-left: auto;
    	margin-right: 15px;
	}
	.phone{
		text-align: right;
	}
}
@media (max-width: 576px) {
	header .lang{
		text-align: center;
	} 
	header .phone{
		padding-top: 15px;
		padding: 0;
	}
	header .mail{
		text-align: center;
	}
	.about-us .about-us-item .company-item-active .namber{
		font-size: 32px;
	}
	.about-us .about-us-item .company-item-active .active-title{
		font-size: 16px;
	}
	.adress{
		font-size: 13px;
		text-align: center;
	}
	.mail {
		font-size: 13px;
		text-align: center;
	}
	.phone{
		font-size: 13px;
		text-align: center;
	}
	.prog{
		font-size: 13px;
		margin-top: 30px;
		text-align: center;
	}
	.location .dotted{
		display: none;
	}
	.location .local{
		display: none;
	}
	.location .local-text{
		display: none;
	}
	.block-right:before{
		display: none;
	}
	.block-left:before{
		display: none;
	}
	.car{
		margin-left: 30px;
	}
	.arrow-block .arrow-back{
		top: 20px;
	}
	.arrow-block .arrow-next{
		top: 20px;
	}
}
@media (max-width: 320px){
	.about-us .about-us-item{
		width: 100%;
	}
	.arrow-block .arrow-next{
		top: 10px;
		font-size: 10px;
	}
	.arrow-block .arrow-back{
		top: 10px;
		font-size: 10px;
	}
	.arrow-block .arrow-next a{
		width: 30px;
		height: 10px;
	}
	.arrow-block .arrow-back a{
		width: 30px;
		height: 10px;
	}
}



