.margin-t-10 {
  margin-top: 10px; }

.margin-t-30 {
  margin-top: 30px; }

.margin-t-43 {
  margin-top: 43px; }

.margin-t-45 {
  margin-top: 45px; }

.margin-t-40 {
  margin-top: 40px; }

.margin-t-60 {
  margin-top: 60px; }

.margin-t-65 {
  margin-top: 65px; }

.margin-t-80 {
  margin-top: 80px; }

.margin-t-120 {
  margin-top: 120px; }

.margin-b-80 {
  margin-bottom: 80px; }

.line {
  border-bottom: 6px solid #C8A35F;
  width: 90px; }

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF; }

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF; }

body {
  font-family: "Roboto", sans-serif;
  background: #2F343A; }
  body img {
    max-width: 100%; }

.line-gold {
  background: #C8A35F;
  background-size: cover; }

header .lang {
  padding: 15px 0; }
  header .lang a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block; }
    header .lang a.link.active {
      opacity: 1; }
header .phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  padding: 15px 0; }
header .mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #fff;
  padding: 15px 0; }

.location {
  margin-top: 27px;
  margin-bottom: 27px; }
  .location .logo {
    display: inline-block; }
  .location .dotted {
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
    width: 46px;
    display: inline-block;
    margin-bottom: 19px;
    margin-top: 19px; }
  .location .local {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px; }
    .location .local a {
      text-decoration: none; }
  .location .local-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 15px; }

.navigation {
  margin-top: 42px;
  text-align: right; }
  .navigation a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    display: inline-block; }

.first-screen {
  background: url(img/trucking.jpg);
  background-size: cover; }
  .first-screen .trucking {
    border: 1px solid #C8A35F;
    box-sizing: border-box;
    padding: 45px 71px;
    margin-top: 155px; }
  .first-screen .title-trucking {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff; }
  .first-screen .text-trucking {
    text-align: center; }
  .first-screen .mouse {
    opacity: 0.8;
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center; }
    .first-screen .mouse a {
      text-decoration: none;
      display: inline-block; }

.menu-icon {
  display: none;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-left: auto; }

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid #C8A35F;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }

.menu-icon:before,
.menu-icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0; }

.menu-icon:before {
  top: 7px; }

.menu-icon:after {
  top: 17px; }

.menu-icon.opened {
  border-top-color: transparent; }

.menu-icon.opened:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px; }

.menu-icon.opened:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px; }

.menu-container {
  padding-top: 20px;
  width: 100%; }

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu-container li {
  margin-bottom: 10px; }

.menu-container a {
  display: block;
  padding: 10px 0;
  color: #fff;
  background: #C8A35F;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif, arial; }

.menu-container.closed {
  display: none; }

.menu-container.opened {
  display: block; }

.trucking-industry {
  overflow: hidden; }

.block-right:before {
  position: absolute;
  content: "";
  right: 23%;
  top: 0;
  height: 100%;
  display: block;
  width: 50vw;
  background: #393F47;
  z-index: -1; }

.batton {
  margin-top: 40px;
  margin-bottom: 130px; }
  .batton a {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 19px 48px 19px 48px;
    background: #C8A35F;
    display: inline-block;
    vertical-align: top; }

.block-left {
  position: relative; }
  .block-left:before {
    position: absolute;
    content: "";
    left: 45%;
    top: 0;
    height: 100%;
    display: block;
    width: 50vw;
    background: #393F47;
    z-index: -1; }

.car {
  margin-top: 166px;
  display: inline-block;
  vertical-align: top; }

.arrow-block {
  display: inline-block;
  vertical-align: top; }
  .arrow-block .arrow-next {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 155px;
    right: 0; }
    .arrow-block .arrow-next a {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-left: 30px;
      width: 65px;
      height: 20px; }
  .arrow-block .arrow-back {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
    position: absolute;
    right: 0;
    top: 400px; }
    .arrow-block .arrow-back a {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;
      width: 65px;
      height: 20px; }

.all-services {
  align-content: flex-start;
  list-style: none;
  margin-top: 50px; }
  .all-services .services-item {
    height: 180px;
    background: #393F47;
    border: 1px solid #2F343A; }
    .all-services .services-item .airplane {
      text-align: center;
      width: 70px;
      height: 70px;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 25px;
      display: block; }
      .all-services .services-item .airplane svg {
        margin-top: 20px; }
    .all-services .services-item .airplane-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
      text-align: center; }
    .all-services .services-item:hover {
      background: #C8A35F; }
      .all-services .services-item:hover path {
        fill: #000; }
      .all-services .services-item:hover .airplane {
        background: #FFF; }

.about-company {
  overflow: hidden; }

.block-right-company:after {
  position: absolute;
  content: "";
  left: 70%;
  top: 0;
  height: 100%;
  display: block;
  width: 20vw;
  background: #393F47;
  z-index: -1; }
.block-right-company .text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #fff; }

.block-left-company:after {
  position: absolute;
  content: "";
  right: 50%;
  top: 0;
  height: 100%;
  display: block;
  width: 25vw;
  background: #393F47;
  z-index: -1; }

.about-us {
  align-content: flex-start;
  list-style: none;
  margin-left: 35px; }
  .about-us .about-us-item {
    width: 33.3%;
    height: 160px;
    border: 0.25px solid #C8A35F;
    box-sizing: border-box;
    background: url(img/mini-car.jpg);
    background-size: cover;
    position: relative; }
    .about-us .about-us-item:hover .company-item-active {
      opacity: 1; }
    .about-us .about-us-item .company-item-active {
      width: 100%;
      height: 160px;
      background: #FFF;
      opacity: 0;
      position: absolute;
      top: 0;
      text-align: center; }
      .about-us .about-us-item .company-item-active .namber {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2F343A;
        margin-top: 23px; }
      .about-us .about-us-item .company-item-active .active-title {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #2F343A;
        margin-top: 10px; }
      .about-us .about-us-item .company-item-active .active-text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #2F343A;
        margin-top: 15px; }

.map {
  overflow: hidden; }

.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  opacity: 0.8; }

.mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px; }
  .mail a {
    text-decoration: none;
    color: #2F343A; }

.phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff; }
  .phone .namber {
    margin-top: 10px; }

.prog {
  margin-top: 88px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  text-decoration-line: underline;
  margin-bottom: 60px; }
  .prog a {
    text-decoration: none;
    color: #2F343A; }

/*# sourceMappingURL=main.css.map */
